@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Libre Franklin', sans-serif;
    margin: 85px 27px;
    padding: 0;
    text-align: center;
    color: #15202A;
}

.logo {
    width: 58px;
}

h1 {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.45;
    color: #969696;
    margin-top: 34px;
}

h1>span {
    font-weight: 700;
    color: #15202A;
}

main>p {
    font-size: 14px;
    margin-top: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 12px 34px;
    border: 2px solid #C2D3FF;
    margin-top: 34px;
}

input,
button {
    max-width: 283px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 35px;
}

.error-message {
    color: #FF5466;
    font-size: 14px;
    margin-top: 7px;
    font-style: italic;
    display: none;
}

form>div.hasError {
    margin-bottom: 12px;
}

input.hasError,
input.hasError:focus {
    border-color: #FF5466;
    outline: none;
}

button {
    padding: 12px 34px;
    border: none;
    background-color: #4C7BF3;
    color: #fff;
    font-weight: 600;
    margin-top: 12px;
    box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.23);
    cursor: pointer;
}

img.dashboard {
    width: 100%;
    margin-top: 42px;
}

footer>p {
    font-size: 12px;
    color: #969696;
}

ul {
    list-style: none;
    display: flex;
    gap: 14px;
    justify-content: center;
    margin-top: 122px;
    margin-bottom: 29px;
    padding: 0;
}

li>a {
    text-decoration: none;
    border: 2px solid #4C7BF326;
    border-radius: 50%;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4C7BF3;
    transition: all 0.5s;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

svg {
    width: 20px;
    height: 20px;
}

/* Tablet */

@media (min-width: 768px) {
    body {
        margin: 80px auto;
        padding-left: 28px;
        padding-right: 28px;
        max-width: 768px;
    }

    .logo {
        width: 65px;
    }

    h1 {
        font-size: 48px;
    }

    main>p,
    input,
    button {
        font-size: 20px;
    }

    form {
        flex-direction: row;
        justify-content: center;
        align-items: start;
        gap: 12px;
        max-width: 637px;
        margin: 40px auto;
        text-align: left;
    }

    form>div {
        flex-grow: 1;
    }

    input {
        margin-top: 0;
        margin-right: 0;
        max-width: 421px;
    }

    button {
        margin-top: 0;
        max-width: 200px;
    }


    button:hover {
        background-color: rgba(76, 123, 243, 0.8);
    }

    li>a:hover {
        background-color: #4C7BF3;
        color: #fff;
    }
}